.terminal {
    width: 700px;
    color: #fff;
    font-family: 'Ubuntu-Medium';
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.2);
    position: absolute;
    top: 30%;
    left: 30%;
}

.terminal__menu {
    background-color: #3c3b37;
    height: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    cursor: pointer;
}

.terminal__menu-name {
    font-size: 1.1rem;
}

.terminal__menu-buttons {
    display: flex;
    list-style: none;
    margin-left: auto;
    text-align: center;
    align-self: center;
}

.terminal__menu-buttons-img {
    width: 15px;
    height: 15px;
}

.terminal__menu-buttons-img {
    padding: 0.27rem;
    border-radius: 50%;
    transition: all 0.2s;
}

.terminal__menu-buttons-item {
    margin-right: 0.7rem;
}

.terminal__menu-buttons-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.terminal__menu-rectangle-button:hover, .terminal__menu-minus-button:hover {
    background-color: rgb(88, 88, 88);
}

.terminal__menu-x-button {
    background-color: rgb(182, 54, 54);
    transition: all 0.2s;
}

.terminal__menu-x-button:hover {
    background-color: rgb(211, 79, 79);
}

.terminal__menu-name {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
}

.terminal__content {
    background-color: rgba(56, 4, 40, .9);
    height: 500px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow-y: scroll;
    padding: 2px;
}

.terminal__content::-webkit-scrollbar {
    width: 6px;
}

.terminal__content::-webkit-scrollbar {
    background-color: transparent;
}

.terminal__content::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
    border-radius: 3px;
}